<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Mon site</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ asset('/assets/css/movie.css') }}">


    </head>
    <style>
        .login-box {
            height: 700px;
        }
    </style>
    <body style="background: black">

    <center>
        <a href="{{ path('admin_home') }}"><img src="{{ asset('images/Da.jpg') }}" style="width: 180px"></a>
    </center>
    <center>
        <br>

        <br>


        {% block body %}
            <a href="add">publier un film</a>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </center>
    </body>
</html>

